body {
  margin: 0;
  background: url('./img/Background.png');
  background-color: #019072;
  overflow: hidden;
  width: 100%;
}

.beginning {
  position: relative;
  margin: 0 auto;
  padding: 12.8vh 0 0 103px;
  max-width: 1440px;
  height: 100%;
  width: 100%
}

.game {
  display: none;
  margin: 0 auto;
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.middle { width: 50%;}

.hard{ width: 70%;}

.beginning__title {
  margin: 0 0 0.6vh 0;
  font: bold 57px/67px Roboto_bold, arial, helvetica, sans-serif;
  color: #fff;
}

.beginning__subtitle {
  margin: 0 0 6vh 0;
  padding-left: 3px;
  font: bold 19px/22px Roboto_bold, arial, helvetica, sans-serif;
  color: #fff;
}

.beginning__level {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 8.2vh;
  padding-left: 49px;
  width: 200px;
  list-style: none;
}

.beginning__level_element {
  display: inline-block;
  position: relative;
  margin: 0 auto 28px auto;
  font: bold 50px/59px Roboto_bold, arial, helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
}

.beginning__level i {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 92%;
  top: 42%;
  background: #d62b2e;
  transform: rotate(45deg);
}

.active_game::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  right: 108%;
  top: calc(50% - 5px);
  background: #d62b2e;
  transform: rotate(45deg);
}

.button {
  display: block;
  padding: 29px 80px;
  background: #d62b2e;
  border-radius: 7px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  font: bold 32px/37px Roboto_bold, arial, helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
}

.button__card {
  position: absolute;
  content: '';
  width: calc(218 / 1440 * 100%);
  height: calc(341 / 1024 * 100%);
  background: no-repeat url('img/card.png');
  background-size: contain;
}

.card-1 {
  left: 61.8%;
  top: 52vh;
  transform: rotate(11.9deg);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
}

.card-2 {
  left: 57vw;
  top: 55vh;
  transform: rotate(39.26deg);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.flip-card {
  width: 218px;
  height: 341px;
  perspective: 1000px;
  margin: 10px 13px 10px 10px;
}

.flip-card:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: translateY(-30px) rotateZ(-2deg);
}

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.rotate { transform: rotateY(180deg); }

.flip-card__front,
.flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card__front {
  position: absolute;
  background: no-repeat url('img/card.png');
  background-size: contain;
  background-position: center center;
}

.flip-card__back {
  position: absolute;
  background: no-repeat url('img/gameOver.png');
  background-size: contain;
  background-position: center center;
  transform: rotateY(180deg);
}

.flip-card__back-bug {
  position: absolute;
  background: no-repeat url('img/bagCard.png');
  background-size: contain;
  background-position: center center;
  transform: rotateY(180deg);
}

@media (max-width: 1370px) {

  .beginning__level i {
    right: 92%;
    top: 42%
  }

  .hard { width: 90%; }

  .card-2 {
    left: 75vw;
    top: 58vh;
  }

  .flip-card {
    width: 190px;
    min-width: 190px;
  }
}

@media (max-width: 1204px) {

  .beginning__level i {
    right: 89%;
    top: 40%
  }

  .beginning { box-sizing: border-box; }

  .middle { width: 70%; }

  .card-2 { left: 68.2%; }

  .flip-card {
    width: 16vw;
    min-width: 160px;
    height: 25vw;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media (max-width: 1000px) {

  .beginning__level i { right: 87%; }

  .middle { width: 65%; }

  .flip-card {
    width: 14vw;
    height: 31vw;
  }
}

@media (max-width: 900px) {

  .beginning__level i {
    right: 85%;
    top: 51%
  }

  .beginning__title{ font-size: 5.5vw;}

  .beginning__level {
    padding-top: 4vh;
    margin-bottom: 0;
  }

  .beginning__level_element {
    line-height: 15px;
    padding-bottom: 3vh;
  }

  .card-1{
    left: 70vw;
    top: 56vh;
  }

  .card-2 {
    left: 79vw;
    top: 61vh;
  }

  .flip-card {
    width: 14vw;
    height: 21vw;
  }
}
@media (max-width: 850px) {

  .beginning__level i {
    right: 64%;
    top: 64%
  }

  .beginning { padding: 38.8vh 0 0 0; }

  .beginning__title { text-align: center; }

  .beginning__subtitle { text-align: center; }

  .beginning__level {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .button { margin: 0 auto; }

  .card-1 {
    left: 36.8%;
    top: 13vh;
  }

  .card-2 {
    left: 40.2%;
    top: 12vh;
  }
}

@media (max-width: 700px) {

  .beginning__level i {
    right: 92%;
    top: 42%
  }

  .middle { width: 90%; }

  .hard { width: 69%; }

  .flip-card {
    width: 20vw;
    height: 24vw;
  }
}

@media (max-width: 600px) {

  .beginning__level i {
    right: 67%;
    top: 64%
  }

  .beginning { padding-top: 30vh;}

  .beginning__title { font-size: 9vw; }

  .beginning__subtitle {
    font-size: 4vw;
    margin-bottom: 3vh;
  }

  .beginning__level_element { font-size: 9vw; }

  .flip-card {
    width: 23vw;
    height: 35vw;
  }
}

@media (max-width: 400px) {

  .beginning__level i {
    right: 79%;
    top: 68%
  }

  .beginning { padding-top: 22vh;}

  .beginning__title {
    line-height: 1.2em;
    font-size: 11vw;
    }

    .beginning__subtitle { font-size: 6vw; }

    .beginning__level{ margin-bottom: 2vh; }

    .beginning__level_element{
      font-size: 12vw;
      padding-bottom: 1vh;
    }

    .card-1 { top: 7vh; }

    .card-2 {
      top: 7vh;
      left: 35vw;
    }

    .flip-card {
      width: 25vw;
      height: 49vw;
    }

    .button { padding: 20px 50px; }

    .simple {width: 95%; }

    .middle {width: 100%; }

    .hard { width: 100%;}
  }
